:root{
    --cinza-principal: #333333;
    --amarelo-botoes: #F6E266;
    --verde-botoes: #85DEB7;
    --cor-de-fundo: #ffffff;
    --fonte-logo: 'Elsie', cursive;
}

body{
    margin: 0;
}

header{
    background-color: #FFDB99;
    padding: 35px 0; /*20px pra cima e baixo. 0px pra direita e esquerda.*/
    height: 35px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;    
}

.container div{
    padding: 10px;
}

.titulo{
    font-family: var(--fonte-logo);
    font-style: italic;
}

.busca{
    border-radius: .7rem;
    width: 300px;
    height: 30px;
}


.bntbusca{
    position: relative;
    left: 50px;
    top: 5px;
}

/*----main nav bar----*/

nav{
    text-align: center;
    margin:0;

}
nav ul li {
    text-align: center;
    display: inline-block;
    align-items: center;
    padding: 40px;

}

nav ul li a{
    text-decoration: none; text-align: center;
    text-align: center;
    color: rgb(102, 102, 105);
    font-size: 18px;
}

nav ul li a:hover{
    color: black;
    font-weight: bold;
}

.entremsg{
    position: relative;
    top: 20px;
    right: 90px;
}

.lupabusca{
    position: relative;
    left: 40px;
    top: 8px;
}

/*----main carrinho----*/

.main_produtos{
    padding: 2% 5%;
    display: flex;
    flex-wrap: wrap;
}

.carrinho_container{
    display:flex;
    width: 100%;
    align-items: flex-start; 
    justify-content: space-around;
    
}

.produtos{ /*posicionando os produtos, alinhando conforme a caixa*/
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 0;
    padding: 0;
}

.dados_produtos{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2% 2%;
    margin-bottom: 1rem;
}

.info1{
   display: flex;
   flex-wrap: wrap;
   width: 50%;
   justify-content: space-between;
   align-items: flex-end;
}

.titulo_produto{
    width: 100%;
}

.imagem_produto{
    width: 40%;
}

.info2{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

.quantidade_produto{
    width: 20%;    
}

.tipo_produto{
    width: 60%;    
}

.opcao_entrega{
    list-style-type: none;
}

.forma_entrega{
    width: 100%;
}

.descricao_entrega{
    width: 100%;  
    display: flex;
    justify-content: flex-end;  
}

.dropdown2{
    padding: 2px 0;
}

.resumo{
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    flex-direction: column;
}

.resumo_produto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resumo_produto_titulo{
    width: 70%;
}

.resumo_produto_valor{
    width: 20%;

}

.resumo_divisao{
    margin: 1rem auto;
    width: 100%;
    border-bottom: 1px solid black;
    height: 1px;
}

.resumo_total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resumo_total_titulo{
    width: 70%;
}

.resumo_total_valor{
    width: 20%;
}

/* .valor_resumo1{
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;
}

.valor_resumo2{
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;
} */

.bt_pagamento{
    border-radius: 5px;
    border: none;
    padding: 7px 10px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    margin: 0 5rem;
 }

.bt_contimuar{
    border-radius: 5px;
    border: #857AF5;
    padding: 7px 10px;
    background-color: #ffffff;
    color: #857AF5;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    margin: 1rem 5rem;
 }

.doacoes{
    width: 50%;
}

.titulo_doacao{
    display: flex;
    align-items: center;
    margin: 0 50px 0x;
    padding: 0 2rem;
} 

.selecione_ong{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2% 2%;
    margin: 0 0 0 3rem;
}

.selecione{
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
}

.dropdown3{
    width: 85%;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin: 0 2rem;
}

 .selecionar{
    border-radius: 5px;
    border: none;
    padding: 7px 40px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1rem 10rem 0;
 }

 .selecionar:hover{
    background: #a49ff0;
}

/*----------------------Footer------------*/

.rodape {
    text-align: center;
    margin: 2em 3em;
}

.rodape__logo{
    width: 8%; 
}

.proposito{
    font-family: var(--fonte-principal);  
    color: var(--cinza-secundario);
}

.prposito__descricao{
    font-family: var(--fonte-secundaria);  
    margin: auto 0;
    color: var(--cinza-secundario);
    font-size: 16px; 
}

.contatos{
    text-align: left;
    margin: 1em 0 0 10em;
    font-family: var(--fonte-secundaria);   
}

.redes__lista{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    width: 20%;
    margin: auto;
    padding: 0;
}

.redes__icine{
    width: 25%;
    
}