/*----main carrinho----*/

.main_produtos{
    padding: 2% 5%;
    display: flex;
    flex-wrap: wrap;
}

.carrinho_container{
    display:flex;
    width: 100%;
    align-items: flex-start; 
    justify-content: center;
    padding: 0 60px;
}

.produtos_carrinho{ /*posicionando os produtos, alinhando conforme a caixa*/
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 0;
    padding: 0;
}

.dados_produtos{
    display: flex;
    width: 80%;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2% 2%;
    margin-bottom: 1rem;
}

.info1{
   display: flex;
   flex-wrap: wrap;
   width: 50%;
   align-items: flex-end;
}

.titulo_produto{
    width: 100%;
}

.imagem_produto{
    width: 40%;
}

.info2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}

@media screen and (max-width: 768px) {
    .info2{
        justify-content: space-between;
    }
}

.adicionar_diminuir_item{
    display: flex;
    padding: 50px 0;
    align-items: center;
}

h5{
    padding: 0 10px;
}

.quantidade_produto{
    width: 14%; 
    border-radius: 10px;
    padding: 8px;
}

.tipo_produto{
    width: 98%; 
    padding: 5px;  
    border-radius: 5px; 
}

.opcao_entrega{
    list-style-type: none;
}

.opcao_doacao{
    list-style-type: none;
}

.produto_doacao_alt{
    width: 100%;
}

.qtd_doacao_largura{
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-color: #797979;
    padding: 3px;
    /* margin: 5px 0 0 130px; */
}

.quantidade_doação{
    padding: 10px 0 0;
    text-align: right;
    margin: 0;
}

/*---- doaçoes----*/

.titulo_entrega_doacao{
    display: flex;
    align-items: center;
} 

.doacoes{
    margin: 0;
    width: 100%;
}

.selecione_ong{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2% 2%;
}

.selecione{
    display: flex;
    justify-content: flex-start;
}

.selecione_titulo{
    margin: 20px 0 18px 0;
}

.titulo_recebimento{
    margin: 2px 0;
}

.dropdown3{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
}

 .selecionar{
    border-radius: 5px;
    border: none;
    padding: 7px 40px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1rem 10rem 0;
 }

 .selecionar:hover{
    background: #a49ff0;
}

/*---forma de entrega---*/

.titulo_entrega{
    display: flex;
    align-items: center;
}

.titulo_recebimento{
    margin: 20px 0;
}

.titulo_geral_opcao{
    display: flex;
}

.img_titulo_geral_opcao{
    height: 30px;
    margin: 0 10px;
}

.titulo_doacoes{
    font-size: 24px;
}

.forma_entrega{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2% 2%;
}

.descricao_entrega{
    width: 100%;  
    font-size:large;
}

.dropdown2{
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
}

.selecionar_entrega{
    border-radius: 5px;
    border: none;
    padding: 7px 40px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1rem 10rem 0;
 }

 .selecionar_entrega:hover{
    background: #a49ff0;
}

/*----resumo----*/

.resumo{
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    flex-direction: column;
}

.resumo_produto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resumo_produto_titulo{
    width: 70%;
}

.resumo_produto_valor{
    width: 20%;
}

.resumo_divisao{
    margin: 1rem 0;
    width: 100%;
    border-bottom: 1px solid black;
    height: 1px;
}

.resumo_total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resumo_total_titulo{
    width: 70%;
}

.resumo_total_valor{
    width: 20%;
}

.resumo_valor_total{
    display: flex;
    justify-content: flex-end;
    margin: 0 0 20px 0;
}

.bt_pagamento{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 7px 10px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    margin: 0 5rem;
}

 .bts_resumo{
    display: grid;
    justify-content: center;
 }

.bt_contimuar{
    border-radius: 5px;
    border: #857AF5;
    padding: 7px 10px;
    background-color: #ffffff;
    color: #857AF5;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
    margin: 1rem 5rem;
}
