:root{
    --cinza-principal: #333333;
    --amarelo-botoes: #F6E266;
    --verde-botoes: #85DEB7;
    --cor-de-fundo: #ffffff;
    --fonte-logo: 'Elsie', cursive;
    --fonte-principal: 'Elsie';
    --fonte-secundaria: 'Montserrat'
}

header{
    background-color: #FFDB99;
    padding: 1%; /*20px pra cima e baixo. 0px pra direita e esquerda.*/
    height: flex;
    justify-content: center;
    text-align: center;

}