:root{
    --cinza-principal: #333333;
    --amarelo-botoes: #F6E266;
    --verde-botoes: #85DEB7;
    --cor-de-fundo: #ffffff;
    --fonte-logo: 'Elsie', cursive;
    --fonte-principal: 'Elsie';
    --fonte-secundaria: 'Montserrat';
    --bs-btn-color: #202020;
}

header{
    background-color: #FFDB99;
    width: auto;
    padding: 0 1% 1% 1%; /*20px pra cima e baixo. 0px pra direita e esquerda.*/
}

.text-center{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header_geral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container{
    display: flex;
    justify-content: center;
}

.header_bt_pesquisa{
    padding: 0;
}

.buscar-produto{
    background-color: rgba(255, 255, 255, 0.3) !important;
     
    /*color: #ff0707;
    opacity: 0.5;
     */
    padding: 0;
}

.header_bem-vindo{
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.header_entre_cadastre{
    display: flex;
    justify-content: flex-start;
}

.link_header_entre_cadastre:hover{
    color: #333333;
}

.header_entre_cadastre a{
    color: #333333;
}

.header_img_login{
    padding: 0 8px;
}

.header_login_bem-vindo{
    display: flex;
    align-items: center;
}

.btn_sair{
    text-decoration: underline !important;
    padding: 0 !important;
}

