/*----------CSS do header------*/
:root{
    --cinza-principal: #333333;
    --amarelo-botoes: #F6E266;
    --verde-botoes: #85DEB7;
    --cor-de-fundo: #ffffff;
    --fonte-logo: 'Elsie', cursive;
    --fonte-principal: 'Elsie';
    --fonte-secundaria: 'Montserrat'
}

body{
    margin: 0;
}

.cabecalho{
    background-color: #FFDB99;
    height: 80px;
    display: flex;
    align-items: center; 
}

.container{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 0 12%;
    color: var(--cinza-principal);
    font-family: var(--fonte-secundaria);
    width: 100%;
}

.busca{
    border-radius: .7rem;
    width: 300px;
    height: 30px;
    color: var(--cinza-principal);
}

.login{
    display: flex;
    align-items: center;
}

.faca_login{
    list-style-type: none;
    padding: 0 10px;
}

.carrinho{
    display: flex;
    align-items: center;
}

.carrinho_item{
    padding: 10px;
}

/*-------------CSS do main - navbar-------------------------------------------*/
/* nav{
    text-align: center;
    margin:0;

}
nav ul li {
    text-align: center;
    display: inline-block;
    align-items: center;
    padding: 5px 90px;

}

nav ul li a{
    text-decoration: none; text-align: center;
    text-align: center;
    color: rgb(102, 102, 105);
    font-size: 18px;


}
nav ul li a:hover{
    color: black;
    font-weight: bold;
}

.divisor_nav{}

.entremsg{
    position: relative;
    top: 20px;
    right: 90px;
}

.lupabusca{
    position: relative;
    left: 40px;
    top: 8px;
} */

/* ------main ONGs------ */

.ongs{ 
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ongs li{
    display: inline-block; 
    text-align: center;
    width: 40%; /*alinhando os anuncios*/
    vertical-align: top; /*alinhar pela linha de cima (Geralmente é alinhado pela linha de baixo)*/
    margin: 1.5% 1.5%; /*margin é o espaçamento externo. 0-> pra cima e pra baixo e 1.5%-> pra direita e esquerda*/
    padding: 5px 5px; /*espaçamento interno*/
    box-sizing: border-box;/*para o espaçamento lateral fique dentro do percentual. Os 20px do padding fica desntro do 30% width*/
    border: 1px solid #161616;
    border-radius: 40px; 
}

.ongs li:hover{
    border-color: #dadada;
}

.ongs li:active{ 
    border-color:#dadada;
}

.ongs h2{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

/*-------------CSS do footer-------------------------------------------*/

.rodape {
    margin: 1em 3em;
}

.baixo_rodape{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.titulo_contato{
    margin: 0;
}

.logo_rodape{
    display: flex;
    justify-content: center;
}

.rodape__logo{
    width: 70%;
}


.contato_lista{
    list-style-type: none;
    margin: 0;
}

.redes__lista{
    display: flex;  
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    width: 180px;
    padding: 0;
    margin: 10px; 
}
