
.ongs{ 
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ongs li{
    display: inline-block; 
    text-align: center;
    width: 40%; /*alinhando os anuncios*/
    vertical-align: top; /*alinhar pela linha de cima (Geralmente é alinhado pela linha de baixo)*/
    margin: 1.5% 1.5%; /*margin é o espaçamento externo. 0-> pra cima e pra baixo e 1.5%-> pra direita e esquerda*/
    padding: 5px 5px; /*espaçamento interno*/
    box-sizing: border-box;/*para o espaçamento lateral fique dentro do percentual. Os 20px do padding fica desntro do 30% width*/
    border: 1px solid #161616;
    border-radius: 40px; 
}

.ongs li:hover{
    border-color: #dadada;
}

.ongs li:active{ 
    border-color:#dadada;
}

.ongs h2{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}
