.pagamento input{
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 8px;
	padding: 10px;
	width: 85%;
	margin-bottom: 30px;
}

.dadospagamento button{

    border-radius: 10px;
    border: none;
    padding: 10px 50px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
 }

 .dadospagamento button:hover{
    background: #a49ff0;
}




/*------CSS----------POPUP-------Finalizar Pedido-------*/
/* 
#container, #popup{
    margin: 2%;
	display: flex;
	justify-content: center;
    overflow: hidden;
}
#pag{
	box-shadow: 3px 10px 20px;
    width: 800px;
    height: 400px;
	border: 1px solid grey;
}
#popup{
    background-color: green;
}
#pag button{
	position: relative;
	left: 260px;
    border-radius: 10px;
    border: none;
    padding: 10px 50px;
    background-color: #857AF5;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 1s background;
    cursor: pointer;
}

#pag p{
	position: relative;
	bottom: 300px;
	color: black;
	left: 780px;
} */
