/*----------CSS do header------*/
:root{
    --cinza-principal: #333333;
    --amarelo-botoes: #F6E266;
    --verde-botoes: #85DEB7;
    --cor-de-fundo: #ffffff;
    --fonte-logo: 'Elsie', cursive;
}

body{
    margin: 0;
}

header{
    background-color: #FFDB99;
    padding: 20px 0; /*20px pra cima e baixo. 0px pra direita e esquerda.*/
    height: 35px;
    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    align-items: center;    
}

.container div{

    padding: 10px;
}

.titulo{
    font-family: var(--fonte-logo);
    font-style: italic;
}

.busca{
    border-radius: .7rem;
    width: 300px;
    height: 30px;
}


.bntbusca{
    position: relative;
    left: 50px;
    top: 5px;
}

.lupabusca{
    position: relative;
    left: 40px;
    top: 8px;
}


/*-------------CSS do main - navbar-------------------------------------------*/
nav{
    text-align: center;
    margin:0;

}
nav ul li {
    text-align: center;
    display: inline-block;
    align-items: center;
    padding: 40px;

}

nav ul li a{
    text-decoration: none; text-align: center;
    text-align: center;
    color: rgb(102, 102, 105);
    font-size: 18px;


}
nav ul li a:hover{
    color: black;
    font-weight: bold;
}

.entremsg{
    position: relative;
    top: 20px;
    right: 90px;
}

.lupabusca{
    position: relative;
    left: 40px;
    top: 8px;
}
/*-------------CSS do main - produtos-------------------------------------------*/

.produtos{ /*posicionando os produtos, alinhando conforme a caixa*/
    width: 940px;
    margin: 0 auto;
    padding: 0px 100px; /*50px pra cima e 0 pra direita e esquerda*/
}


.produtos li{
    display: inline-block; /*deixar a lista de lado*/
    text-align: center;
    width: 30%; /*alinhando os anuncios*/
    vertical-align: top; /*alinhar pela linha de cima (Geralmente é alinhado pela linha de baixo)*/
    margin: 1.5% 1.5%; /*margin é o espaçamento externo. 0-> pra cima e pra baixo e 1.5%-> pra direita e esquerda*/
    padding: 5px 5px; /*espaçamento interno*/
    box-sizing: border-box;/*para o espaçamento lateral fique dentro do percentual. Os 20px do padding fica desntro do 30% width*/
    border: 1px solid #ffffff;
    border-radius: 40px; /*Se quiser fazer bordas com tamanhos diferentes é digitar seguindo a ordem*/
}

.produtos li:hover{
    border-color: #dadada;
}

.produtos li:active{ /*alterar o comportamento quando clicar*/
    border-color:#dadada;
}

.produtos li:hover h2{ /*Eu quero que o h2, quando o mouse estiver em cima do .produtos li..(neste caso, trocar o tamanho da fonte)*/
    font-size: 26px ;
}

.produtos h2{
    font-size: 25px;
    font-weight: bold;
    color: #161616;
}

.produtos-preco{
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px; /*ou padding: 10px;*/
}

.circulo{
    size: 100px;
    position: relative;
    bottom: 130px; /*botton sobe, top desce*/
    left: 95px;
    font-weight: 50%;
}

.favorito{
    size: 100px;
    position: relative;
    bottom: 160px; /*botton sobe, top desce*/
    right: 5px;
    font-weight: 50%;
}

/*-------------CSS do footer-------------------------------------------*/

.rodape {
    width: 100%;
    text-align: center;
    margin: 0 40px 0 0;
}

.rodape__logo{
    width: 8%; 
}

.proposito{
    font-family: var(--fonte-principal);  
    color: var(--cinza-secundario);
}

.prposito__descricao{
    font-family: var(--fonte-secundaria);  
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 16px; 
}

.contatos{
    text-align: left;
    margin: 1em 0 0 10em;
    font-family: var(--fonte-secundaria);   
}

.redes__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}